.nav-boxShadow {
  box-shadow: -1px -12px 42.6px 0px rgba(0, 0, 0, 0.25);
}

.bg-paper {
  background: url("/assets/main_page/paper.jpg") center/cover;
}

.clip-path-triangle {
  clip-path: polygon(100% 0, 0 0, 50% 100%);
}

.swiper-pagination-bullet {
  background-color: rgb(194, 195, 196);
  height: 12px;
  width: 12px;
  border-radius: 50%;
  display: flex;
}

.swiper-pagination-bullet-active {
  background-color: #231f20;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  display: flex;
}

/* Talk slider section's css here */

.background-text {
  position: relative;
  height: 100%;
  content: "";
}

.background-text::before,
.background-text::after {
  font-weight: 800;
  color: black;
  white-space: nowrap;
}

.background-text::before {
  content: "stupid";
  position: absolute;
  top: 30%;
  left: 0;
  transform: translate(0%, -50%);
  font-size: 690px;
  width: fit-content;
}

.background-text::after {
  content: "talks";
  position: absolute;
  top: -150px;
  left: 0px;
  transform: translate(120%, 0%);
  font-size: 690px;
  width: fit-content;
}

.background-text-verticle::before {
  content: "stupid";
  position: absolute;
  top: 30%;
  right: -25%;
  color: #161515;
  text-align: center;
  font-family: Manrope;
  font-size: 200px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: -10px;
  width: 878px;
  height: 256px;
  transform: rotate(-90deg);
}

.background-text-verticle::after {
  content: "talks";
  position: absolute;
  bottom: 17%;
  left: 18%;
  color: #161515;
  text-align: center;
  font-family: Manrope;
  font-size: 200px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: -10px;
  width: 448px;
  height: 186px;
  transform: rotate(-90deg);
  z-index: 0;
}

.talk-section-outer {
  overflow: hidden;
}

.talk-section-inner {
  height: 100vh;
  display: flex;
  flex-direction: row;
  position: relative;
}

@media (max-width: 768px) {
  .background-text::before,
  .background-text::after {
    font-size: 400px;
  }
  .background-text::after {
    top: 70px;
    left: 0px;
    transform: translate(130%, 10%);
  }

  .talk-section-inner {
    height: 80vh;
  }
}

@media (max-width: 480px) {
  .background-text::before,
  .background-text::after {
    font-size: 300px;
  }
  .background-text::after {
    top: 70px;
    left: 0px;
    transform: translate(130%, 0%);
  }
}

.contact-bg {
  background: url("/assets/contact/bg.jpg") center/cover;
}

.border-top {
  border-top: 8px solid #303030;
}

.border-bottom {
  border-bottom: 8px solid #303030;
}
.text-shadow {
  text-shadow: 4px 2px 3.6px rgba(0, 0, 0, 0.58);
}

.scroll-section-outer {
  overflow: hidden;
}

.scroll-section-inner {
  height: 100vh;
  display: flex;
  flex-direction: row;
  position: relative;
}

.scroll-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

::-webkit-scrollbar {
  display: none;
}

.caseDes {
  padding: 0 100px;
}

.cursor-none {
  cursor: none;
}

.cursor-view {
  cursor: "Play video";
}

.cursor-style {
  background-color: rgba(0, 255, 255, 0.7);
  height: 2rem;
  width: 2rem;
  border-radius: 100%;
  transform-origin: 100% 100%;
  transform: translate(-50%, -50%);
  position: fixed;
  pointer-events: none;
}
